<%-include("partials/header.ejs")%>
<!-- <h1><em>JUST BLOG IT </em></h1>
<h1><i>LET THE MAGIC BEGIN</i></h1> -->
<main>
<div class="jumbotron">
    <h1 class="display-4 londrina-shadow-regular">Blog It</h1>
    <p class="lead dm-serif-text-regular"> A platform for exploring diverse topics, from technology and travel to lifestyle and culture.
        Think, Learn, Grow and 
explore the unknown.
    </p>
    <hr class="my-4 ">
    <p class="dm-serif-text-regular">Discover thought-provoking articles, practical tips, and entertaining stories.</p>
    <p class="lead">
      <a class="btn  btn-lg btn1 " href="/Create" role="button">Create</a>
    </p>
  </div>

 
<%-include("partials/footer.ejs")%>